* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html 
{
    font-size: 12px;
}
body 
{
    font-size: 1.2rem;
}

.calculator
{
    border: 1px solid #ddd;
    border-radius: 6px;
    width: 450px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.calculator-input
{
    width: 100%;
    font-size: 4rem;
    height: 70px;
    border: none;
    background-color: #147851;
    color: #ddd;
    text-align: right;
    padding-left: 20px;
    padding-right: 20px;    
}

button
{
    height: 50px;
    background-color: #ddd;
    border-radius: 3px;
    border: 1px solid #d5d5d5;
    background-color: transparent;
    font-size: 2.5rem;
    color: #444;
}
button:hover
{
    background-color: #aeaeae;
}
.operator
{
    color: #347cac;
}
.claer
{
    background-color: #2589;
    border-color: #2598;
    color: #fff;
}
.claer:hover
{
    background-color: #2500;
}
.equal-sign
{
    background-color: #2e85c5;
    border-color: #347cbc;
    color: #fff;
    height: 100%;
    grid-area: 2/4/6/5;
}
.equal-sign :hover
{
    background-color: #4e9ed6;
}

.calculator-keys
{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap: 20px;
    padding: 20px;
}
